<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chats</title>
</head>
<body>
    <h3>Write New Chat...</h3>
    <form method="post" action="/chats">
        <input placeholder="who are you" name="from">
        <br><hr>
        <textarea name ="msg"></textarea>
        <br><hr>
        <input placeholder = "add receiver" name = "to">
        <br><hr>
        <button>create chat</button>
    </form>
</body>
</html>